#linkToSite:hover {
  /* text-decoration: underline; */
  /* background-color: rgba(255, 255, 0, 0.897); */
  cursor: pointer;
  box-shadow: 5px 5px 5px 5px rgb(245, 245, 147);
}


#button {
  padding: 1rem;
}

#navcard {
  align-content: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: .5rem;

}

body {
  background-color: rgb(248, 248, 194);
}

.hidden {
  display: none;
}

#bodyActivity {
  background-color: rgb(247, 247, 201)
}

.tracker {
  text-align: center;

}

.random input[type="radio"] {
  margin-right: .25rem;
}

#addExcuses {
  background-color: white;
}

.page-title {
  background-color: bisque;
}

.selection {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  background-color: rgb(241, 202, 155);
}

.col {
  display: inline-table
}

.trivia {
  background-color: rgb(241, 202, 155);
}

.trivia-question {
  padding: 1rem;
}

.trivia-question>label {
  display: flex;
  gap: .5rem;
  align-items: center;
  padding: 0 .5rem;
}

.trivia-question>p {
  margin: 0;
}

.correct {
  color: rgb(15, 169, 15);
  font-weight: 700;
}

.incorrect {
  color: red;
  font-weight: 700;
}

.correct-option {
  border: 2px solid rgb(15, 169, 15);
  border-radius: .25rem;
  font-weight: 700;
}

.incorrect-option {
  border: 2px solid red;
  border-radius: .25rem;
  font-weight: 700;
}